@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required:false)

}

@section menu{
    <li>@Html.ActionLink("Stories Editing", "Stories", new { controller = "Home", area = "Administration" })</li>
}

@RenderBody()

@section scripts{
    @Scripts.Render("~/bundles/kendo")
@RenderSection("scripts", required: false)
}