<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Motivating Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", false)
    @Styles.Render("~/Content/custom")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Motivate Me", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Articles", "Index", "Articles", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Campaigns", "Index", "Campaigns", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Stories", "Index", "Stories", new { area = string.Empty }, null)</li>
                    @*<li>@Html.ActionLink("Tips", "Index", "Tips", new { area = string.Empty }, null)</li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Forum", "AllForumPosts", new { controller = "ForumPosts", area = "Forum" })</li>
                    @if (this.User.IsInRole(MotivateMe.Data.Common.GlobalConstants.AdministratorRoleName))
                    {
                        <li>@Html.ActionLink("Admin", "Index", new { controller = "Home", area = "Administration" })</li>
                        @RenderSection("menu", false)
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Well done!</strong> @TempData["SuccessMessage"]
            </div>
        } 
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Oops...</strong> @TempData["ErrorMessage"]
            </div>
        }
        @RenderBody()
        <hr />
       
    </div>
    <footer class="footer-demo">
        <div class="divider-demo"></div>
        <div class="get-access">
            <h2>&copy; @DateTime.Now.Year - My Motivating Application</h2>
        </div>
        <div class="divider-demo"></div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</body>
</html>
