@model MotivateMe.Data.Models.Article

@*@Html.DisplayNameFor(model => Model.Author.Email)*@
<div class="jumbotron">
    <div>
        <hgroup>
            <h2>
                @*@Html.DisplayNameFor(model => Model.Title)*@
                @* @Html.DisplayFor(modelItem => item.Title)*@
                @Html.ActionLink(Model.Title, "Details", "Articles", new { Id = Model.Id }, null /* html attributes */)
            </h2>
            <h4>Created by <em>@Html.DisplayFor(modelItem => Model.Author.Email)</em></h4>
        </hgroup>
        <div class="row">
            <p>
                @*@Html.DisplayNameFor(model => Model.Content)*@
                @Html.DisplayFor(modelItem => Model.Content)
            </p>
        </div>
        <div class="row">
            <span class="label label-primary">@Html.DisplayNameFor(model => Model.CreatedOn) @Html.DisplayFor(modelItem => Model.CreatedOn)</span>
            @if (Model.ModifiedOn != null)
            {
                <span class="label label-primary">@Html.DisplayNameFor(model => Model.ModifiedOn) @Html.DisplayFor(modelItem => Model.ModifiedOn)</span>
            }

        </div>
    </div>
</div>
@*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })*@
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })


