@{
    ViewBag.Title = "Create";
}

<h2 class="page-header">Create Role</h2>
@Html.ActionLink("List Roles", "Index", null, new { @class = "btn btn-primary" }) | @Html.ActionLink("Manage User Role", "ManageUserRoles", null, new { @class = "btn btn-primary" })
<hr />
@using (Html.BeginForm("Create", "Roles",null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

   
    <div class="row">
        <div class="col-md-8">
            <label class="col-lg-3 control-label">Role Name</label>
            @Html.TextBox("RoleName", null, new { @class = "form-control col-lg-4", id = "input-role-name" })   <input type="submit" value="Create Role" class="col-lg-offset-1 btn btn-success" />
        </div>
        
    </div>
    
}