@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">Roles Listing </h2>

@Html.ActionLink("Create New Role", "Create", null, new { @class = "btn btn-primary" }) | @Html.ActionLink("Manage User Role", "ManageUserRoles", null, new { @class = "btn btn-primary" })
<hr />
<div>
    @foreach (var role in Model)
    {
        <div class="breadcrumb">
            <strong>@role.Name | </strong>
            @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { roleName = @role.Name }, new { @class = "btn btn-danger" })
        </div>
    }
</div>